
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
community==1.0.0b1
cycler==0.10.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1

olefile==0.46
opencv-python==4.5.2.54
parmap==1.5.2
protobuf==3.14.0
python-louvain==0.15
requests==2.25.1
tensorboard==1.15.0
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
urllib3==1.26.3
webencodings==0.5.1
wincertstore==0.2
